<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{dd/MM/yyyy HH:mm:ss,SSS} (%c{10}): %m%n" />
        </layout>
    </appender>
    
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/Bradesco-seguro-web.log" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{dd/MM/yyyy HH:mm:ss,SSS} (%c{10}): %m%n" />
        </layout>
    </appender>
    
    <logger name="br.com.callink.bradesco">
        <level value="DEBUG" />
        <appender-ref ref="FILE" /> 
    </logger>
        
    <logger name="org.richfaces">
        <level value="WARN" />
        <appender-ref ref="FILE"/>
    </logger>
    
    <logger name="javax.faces">
        <level value="WARN" />
        <appender-ref ref="FILE"/>
    </logger>
</log4j:configuration>