body {
	margin: 0px;
}

label {
	font-weight: bold;
}

caption {
	background-color: #CCCCCC;
	font-weight: bold;
}

fieldset {
	border: 1px solid #BED6F8;
	background: #F6F6F6;
	vertical-align: top;
}

.messages {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px !important;
}

.formField {
	width: 300px;
}

legend {
	font-size: 11px;
	font-weight: bold;
}

.expandir {
	height: 9px;
	width: 9px;
	background-image: url('./images/iconExpandir.png');
}

.recolher {
	height: 9px;
	width: 9px;
	background-image: url('./images/iconRecolher.png');
}

.overflow {
	overflow: auto;
}
.overflowSempre {
	overflow: scroll;
}
/*----------------------------------------------------------------------------*/
/*                                    ROW                                     */
/*----------------------------------------------------------------------------*/
.row {
	background-color: #FFFFFF;
}

.row0 {
	background-color: #CCCCCC;
}

.row1 {
	background-color: #DFDFDF;
}

.row2 {
	background-color: #E7E7E7;
}

.rowOver {
	background-color: #E7E7E7;
}

.rowOut {
	background-color: #FFFFFF;
	cursor: default;
}

.rowOver26 {
	background-color: #E7E7E7;
	cursor: pointer;
	height: 26px;
}

.rowOut26 {
	background-color: #FFFFFF;
	cursor: default;
	height: 26px;
}

.row26 {
	height: 26px;
}

/*----------------------------------------------------------------------------*/
/*                                   DIMENSION                                */
/*----------------------------------------------------------------------------*/
.height100 {
	height: 100%;
}

.height100px {
	height: 100px;
}

.height150px {
	height: 150px;
}

.height200px {
	height: 200px;
}

.height300px {
	height: 300px;
}

.height500px {
	height: 500px;
}

.height540px {
	height: 540px;
}

.height600px {
	height: 600px;
}

.width1 {
	width: 1%;
}

.width2 {
	width: 2%;
}

.width3 {
	width: 3%;
}

.nothing {
	
}

.width5 {
	width: 5%;
}

.width6 {
	width: 6%;
}

.width7 {
	width: 7%;
}

.width8 {
	width: 8%;
}

.width9 {
	width: 9%;
}

.width10 {
	width: 10%;
}

.width12 {
	width: 12%;
}

.width13 {
	width: 13%;
}

.width15 {
	width: 15%;
}

.width16 {
	width: 16%;
}

.width17 {
	width: 17%;
}

.width18 {
	width: 18%;
}

.width20 {
	width: 20%;
}

.width21 {
	width: 21%;
}

.width22 {
	width: 22%;
}

.width23 {
	width: 23%;
}

.width25 {
	width: 25%;
}

.width28 {
	width: 28%;
}

.width30 {
	width: 30%;
}

.width35 {
	width: 31%;
}

.width35 {
	width: 32%;
}

.width35 {
	width: 34%;
}

.width35 {
	width: 35%;
}

.width35 {
	width: 36%;
}

.width40 {
	width: 40%;
}

.width41 {
	width: 41%;
}

.width42 {
	width: 42%;
}

.width43 {
	width: 43%;
}

.width44 {
	width: 44%;
}

.width45 {
	width: 45%;
}

.width50 {
	width: 50%;
}

.width55 {
	width: 55%;
}

.width60 {
	width: 60%;
}

.width65 {
	width: 64%;
}

.width65 {
	width: 65%;
}

.width65 {
	width: 66%;
}

.width65 {
	width: 68%;
}

.width65 {
	width: 69%;
}

.width70 {
	width: 70%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.width85 {
	width: 85%;
}

.width89 {
	width: 89%;
}

.width90 {
	width: 90%;
}

.width93 {
	width: 93%;
}

.width95 {
	width: 95%;
}

.width98 {
	width: 98%;
}

.width99 {
	width: 99%;
}

.width100 {
	width: 100%;
}

.width100Px {
	width: 100px;
}

.width300Px {
	width: 300px;
}

.menuContent {
	width: 200px;
}

/*----------------------------------------------------------------------------*/
/*                                    ALIGN                                   */
/*----------------------------------------------------------------------------*/
.alignTop {
	vertical-align: top;
}

.alignBottom {
	vertical-align: bottom;
}

.alignMiddle {
	vertical-align: middle;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/*----------------------------------------------------------------------------*/
/*                                    PADDING                                 */
/*----------------------------------------------------------------------------*/
.padding0 {
	padding: 0px !important;
}

.padding1 {
	padding: 1px !important;
}

.padding2 {
	padding: 2px !important;
}

.padding3 {
	padding: 3px !important;
}

.padding5 {
	padding: 5px !important;
}

.padding10 {
	padding: 10px !important;
}

.padding15 {
	padding: 15px !important;
}

.padding20 {
	padding: 20px !important;
}

.padding25 {
	padding: 25px !important;
}

.padding30 {
	padding: 30px !important;
}

.padding35 {
	padding: 35px !important;
}

.padding40 {
	padding: 40px !important;
}

.padding45 {
	padding: 45px !important;
}

.padding50 {
	padding: 50px !important;
}

.padding55 {
	padding: 55px !important;
}

.padding60 {
	padding: 60px !important;
}

.padding65 {
	padding: 65px !important;
}

.padding70 {
	padding: 70px !important;
}

.padding75 {
	padding: 75px !important;
}

.padding80 {
	padding: 80px !important;
}

.padding85 {
	padding: 85px !important;
}

.padding90 {
	padding: 90px !important;
}

.padding95 {
	padding: 95px !important;
}

.padding100 {
	padding: 100px !important;
}

.paddingLeft0 {
	padding-left: 0px !important;
}

.paddingLeft1 {
	padding-left: 1px !important;
}

.paddingLeft2 {
	padding-left: 2px !important;
}

.paddingLeft3 {
	padding-left: 3px !important;
}

.paddingLeft5 {
	padding-left: 5px !important;
}

.paddingLeft10 {
	padding-left: 10px !important;
}

.paddingLeft15 {
	padding-left: 15px !important;
}

.paddingLeft20 {
	padding-left: 20px !important;
}

.paddingLeft25 {
	padding-left: 25px !important;
}

.paddingLeft30 {
	padding-left: 30px !important;
}

.paddingLeft35 {
	padding-left: 35px !important;
}

.paddingLeft40 {
	padding-left: 40px !important;
}

.paddingLeft45 {
	padding-left: 45px !important;
}

.paddingLeft50 {
	padding-left: 50px !important;
}

.paddingLeft55 {
	padding-left: 55px !important;
}

.paddingLeft60 {
	padding-left: 60px !important;
}

.paddingLeft65 {
	padding-left: 65px !important;
}

.paddingLeft70 {
	padding-left: 70px !important;
}

.paddingLeft75 {
	padding-left: 75px !important;
}

.paddingLeft80 {
	padding-left: 80px !important;
}

.paddingLeft85 {
	padding-left: 85px !important;
}

.paddingLeft90 {
	padding-left: 90px !important;
}

.paddingLeft95 {
	padding-left: 95px !important;
}

.paddingLeft100 {
	padding-left: 100px !important;
}

.paddingRight0 {
	padding-right: 0px !important;
}

.paddingRight1 {
	padding-right: 1px !important;
}

.paddingRight2 {
	padding-right: 2px !important;
}

.paddingRight3 {
	padding-right: 3px !important;
}

.paddingRight5 {
	padding-right: 5px !important;
}

.paddingRight10 {
	padding-right: 10px !important;
}

.paddingRight15 {
	padding-right: 15px !important;
}

.paddingRight20 {
	padding-right: 20px !important;
}

.paddingRight25 {
	padding-right: 25px !important;
}

.paddingRight30 {
	padding-right: 30px !important;
}

.paddingRight35 {
	padding-right: 35px !important;
}

.paddingRight40 {
	padding-right: 40px !important;
}

.paddingRight45 {
	padding-right: 45px !important;
}

.paddingRight50 {
	padding-right: 50px !important;
}

.paddingRight55 {
	padding-right: 55px !important;
}

.paddingRight60 {
	padding-right: 60px !important;
}

.paddingRight65 {
	padding-right: 65px !important;
}

.paddingRight70 {
	padding-right: 70px !important;
}

.paddingRight75 {
	padding-right: 75px !important;
}

.paddingRight80 {
	padding-right: 80px !important;
}

.paddingRight85 {
	padding-right: 85px !important;
}

.paddingRight90 {
	padding-right: 90px !important;
}

.paddingRight95 {
	padding-right: 95px !important;
}

.paddingRight100 {
	padding-right: 100px !important;
}

/*----------------------------------------------------------------------------*/
/*          			       BUTTONS 		                      */
/*----------------------------------------------------------------------------*/
.button {
	position: relative;
	border: 0px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/*
.button:hover {
	background-image: url(./images/button.rollover.png);
}

.button:active {
	background-image: url(./images/button.pressed.png);
}
*/

.buttonWithImg {
	background: transparent;
	background-repeat: no-repeat;
	background-position: 3 center;
	border: 1px solid #FFFFFF;
	-moz-border-radius: 5px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	height: 20px;
	text-indent: 15px;
}

.buttonWithImg:hover {
	border-color: #BED6F8;
	background-color: #FFFFFF;
	cursor: pointer;
}

.buttonWithImgAdd {
	background-image: url(./images/add.png);
}

.buttonWithImgSave {
	background-image: url(./images/save.png);
}

.buttonWithImgSaveAdd {
	background-image: url(./images/saveAndAdd.png);
}

.buttonWithImgDelete {
	background-image: url(./images/delete.png);
}

.buttonWithImgEdit {
	background-image: url(./images/edit.png);
}

/*----------------------------------------------------------------------------*/
/*                              COMPONENT MESSAGE                             */
/*----------------------------------------------------------------------------*/
.info {
	-moz-border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #003399 !important;
	background-image: url(./images/info.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #D2E4FF;
	border: 1px dashed #003399;
	padding-left: 26px;
	padding-top: 4px;
	padding-bottom: 10px;
	margin-bottom: 4px;
}

.warn {
	-moz-border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #F99404 !important;
	background-image: url(./images/warn.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #FFF5D2;
	border: 1px dashed #F99404;
	padding-left: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.error {
	-moz-border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000 !important;
	background-image: url(./images/error.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #FFD5D2;
	border: 1px dashed #FF0000;
	padding-left: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.fatal {
	-moz-border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #FF0000 !important;
	background-image: url(./images/error.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #FFD5D2;
	border: 1px dashed #FF0000;
	padding-left: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

/*----------------------------------------------------------------------------*/
/*                              COMPONENT STATUS                              */
/*----------------------------------------------------------------------------*/
.statuStart {
	font-size: 13px;
	font-weight: bold;
	color: #003399;
	background-color: white;
	border: 1px dashed #003399;
	font-family: sans-serif
}

.statuError {
	font-size: 13px;
	font-weight: bold;
	color: #FF0000;
	background-color: white;
	border: 1px dashed #FF0000;
	font-family: sans-serif
}

/******************************************************************************/
/*			COMPONENT MODAL PANEL				      */
/******************************************************************************/
div.panelModal {
	position: absolute;
	-moz-border-radius: 5px;
	border: 1px solid #BED6F8;
	padding: 1px;
	background-color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	display: none;
	z-index: 9999;
}

div.panelModalHeader {
	-moz-border-radius: 5px;
	border: 1px solid #BED6F8;
	padding: 3px;
	font-weight: bold;
	background-image: url(./images/gradientHeaderPanel.png);
}

img.panelModalIcon {
	position: absolute;
	left: 6px;
	top: 3px;
}

label.panelModalTitle {
	position: relative;
	cursor: move;
	left: 25px;
}

img.panelModalClose {
	position: absolute;
	right: 3px;
	top: 3px;
	cursor: pointer;
}

div.panelModalBody {
	padding: 10px;
}

div.panelModalFooter {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top: 1px solid #BED6F8;
	border-bottom: 1px solid #BED6F8;
	padding: 1px;
	text-align: center;
	min-height: 30px;
}


.linhaPar {
	padding: 0; 
	margin: 0;
}

.linhaImpar {
	background-color: #EEE9E9;
	padding: 0; 
	margin: 0;
}

.linhaPar:hover {
	background-color: #D9D9D9;
	padding: 0; 
	margin: 0;
}
.linhaImpar:hover {
	background-color: #D9D9D9;
	padding: 0; 
	margin: 0;
}

/******************************************************************************/
/*              	           MASK   			              */
/******************************************************************************/
.mascara {
	position: absolute !important;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	opacity: 0.4;
	filter: alpha(opacity =     40);
	z-index: 999;
}

/******************************************************************************/
/*              	           TOOLBAR   			              */
/******************************************************************************/
table .toolbarButton {
	-moz-border-radius: 5px;
	background-repeat: no-repeat !important;
	background-position: left center !important;
	border: 1px solid #FFFFFF !important;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	height: 23px !important;
	padding-left: 20px;
}

table .toolbarButton:hover {
	border-color: #BED6F8;
	background-color: #87CEFF;
	cursor: pointer;
}

.toolbarButtonFind {
	background-image: url('./images/find.png') !important;
}

.toolbarButtonUnlock {
	background-image: url('./images/lock_unlock.png') !important; 
}

.buttonImgClear {
	background-image:  url('./images/clear.png') !important;
}

.toolbarButtonExportCsv {
	background-image: url('./images/csv.png') !important;
}

.toolbarButtonSave {
	background-image: url('./images/save.png') !important;
}

.toolbarButtonNew {
	background-image: url('./images/new.png') !important;
}

.toolbarButtonFinalizarVenda {
	background-image: url('./images/finalizarVenda.png') !important;
}

.toolbarButtonFinalizarAtendimento {
	background-image: url('./images/finalizar.png') !important;
}

.col_header_center {
	text-align: center;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 5px;
	font-weight: bold;
}

.col_header_right {
	text-align: right;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10%;
	margin-top: 4px;
	font-weight: bold;
}

.col_header_lefth {
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10%;
	margin-top: 4px;
	font-weight: bold;
}

.col1_grid {
	width: 35%;
	text-align: center;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #363636;
}

.col2_grid {
	width: 70%;
	text-align: center;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3%;
	font-weight: bold;
	color: #363636;
}

.col1_barra {
	width: 50%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	color: #363636;
}

.col2_barra {
	width: 50%;
	text-align: right;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
	color: #363636;
}

.col3_barra {
	width: 30%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
	color: #363636;
}

.col4_barra {
	width: 20%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3%;
	font-weight: bold;
	color: #363636;
}

.col5_barra {
	width: 30%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 40px;
	font-weight: bold;
	color: #363636;
}

.col6_barra {
	width: 60%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col7_barra {
	width: 40%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col8_barra {
	width: 10%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col9_barra {
	width: 70%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col10_barra {
	width: 80%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col11_barra {
	width: 90%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2%;
	font-weight: bold;
	color: #363636;
}

.col1_fone {
	width: 20%;
	text-align: right;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #363636;
}

.col2_fone {
	width: 20%;
	text-align: left;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #363636;
}

.col100Percent {
	width: 100%;
	text-align: right;
	font-family: Arial, Verdana, sans-serif !important;
	font-size: 11px;
	font-weight: bold;
}

.heigthPanelHeight30 {
	height: 20px;
}

.nomeCampanha {
	position:absolute;
	top:0px;
	right:0px;
	padding:7px;
	font-size: 13px;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: #92DFE0 1px 1px 0px;
}

.botao {
	cursor: pointer;
}

.toolbarEmPanelGrid {
	background-color: #E2EDFC;
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid #BED6F8;
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0;
}

.rf-p-b {
	padding: 0px !important;
}
.marginRight30pc {
	margin: 0 43px 0 0;
}
.customerDataRightColumn {
	text-align: left;
}
.customerDataLeftColumn {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
.widthCinquenta {
	width: 50%;
	padding: 0 115px;
}
.widthColumnCinquenta {
	width: 50%;
}
.lineHeight {
	line-height: 9.5px;
}
.cemPctColumn {
	width: 100% !important;
}
.fontSize15{
	font-size: 15px;
}
textarea, input[type="text"], input[type="password"], select {
    background-image: none;
}